<div class="col-md-4">
	<h3 class="dm-h3 shadow-z-0">Agregar Dirección Ministerial</h3>

	<div class="shadow-z-0 admin-content-form">
	
		<form action="" class="row">
			<div class="form-group col-md-12">
				<label for="direccion-nombre">Nombre de la Dirección</label>
				<input type="text" name="direccion" class="form-control" required>
			</div>
			<small class="col-md-12">
			<strong>Datos del Responsable</strong>
			
			</small>
			
			<div class="form-group col-md-6">
				<label for="direccion-nombre">Apellido</label>
				<input type="text" name="apellido" class="form-control" required>
			</div>
			<div class="form-group col-md-6">
				<label for="direccion-nombre">Nombres</label>
				<input type="text" name="nombre" class="form-control" required>
			</div>
			<div class="form-group col-md-6">
				<label for="direccion-nombre">DNI <small>(sin puntos)</small></label>
				<input type="text" name="dni" class="form-control" required>
			</div>
			<div class="form-group col-md-12">
				<label for="direccion-nombre">Email</label>
				<input type="email" name="nombre" class="form-control" required>
			</div>
			<div class="clearfix col-md-12">
			<hr>
				<button class="btn btn-danger pull-right" type="submit">Guardar</button>
			</div>
		</form>



	</div>
</div>

<div class="col-md-8">
<h3 class="dm-h3 shadow-z-0">Listado de Direcciones Agregadas</h3>

	<div class="shadow-z-0 admin-content-form">
	</div>
	
</div>  