<div class="container-fluid">
	
<div class="well"><div class="row">
				  <div class="col-md-2 dash-box">
    						<a href="#" class="btn btn-fase-0-menu " role="button"  >
								 <div class="fa fa-user-plus fa-3x"></div> 
								<div id="box_2" class="icon-label">Administrar <br> Usuarios</div>
								
							</a>
						</div>

			<div class="col-md-2 dash-box">
    						<a href="#" class="btn btn-fase-0-menu " role="button"  >
								 <div class="fa fa-bookmark fa-3x"></div> 
								<div id="box_2" class="icon-label"> Direcciones <br> Ministeriales</div>
								
							</a>
						</div>

			<div class="col-md-2 dash-box">
    						<a href="#" class="btn btn-fase-0-menu " role="button"  >
								 <div class="fa fa-list fa-3x"></div> 
								<div id="box_2" class="icon-label"> Definir <br> Ejes</div>
								
							</a>
						</div>

			<div class="col-md-2 dash-box">
    						<a href="#" class="btn btn-fase-0-menu " role="button"  >
								 <div class="fa fa-object-ungroup fa-3x"></div> 
								<div id="box_2" class="icon-label"> Objetivos <br> Estratégicos</div>
								
							</a>
						</div>
				<div class="col-md-2 dash-box">
    						<a href="#" class="btn btn-fase-0-menu " role="button"  >
								 <div class="fa fa-object-group fa-3x"></div> 
								<div id="box_2" class="icon-label"> Objetivos <br> Operativos</div>
								
							</a>
						</div>
				</div></div>
	</div>
