body,
background: #fafafa,
font-size: 16px,
.bg-header {
  background: #fff;
}
.hr-corta {
  margin: 0;
}
.logo-texto {
  text-align: right;
  font-size: 18px;
  padding: 10px;
  margin: 0;
  line-height: 1.2;
  float: left;
  margin-top: 10px;
}
.logo-texto span {
  font-weight: 300;
}
.brand-img {
  margin-top: -15px;
}
.shadow-z-6 {
  margin-top: -20px;
  -webkit-box-shadow: 0px 1px 1px 1px #c7c7c7;
  -moz-box-shadow: 0px 1px 1px 1px #c7c7c7;
  box-shadow: 0px 1px 1px 1px #c7c7c7;
}
li.user-name {
  background: #3f51b5;
  padding: 2px;
}
.badge {
  padding: 5px !important;
}
.estados {
  margin: 0 auto;
  padding: 5px;
}
.estados h4 {
  text-align: left;
}
.estados a {
  color: #808080;
  font-size: 0.8em;
}
.iniciado {
  background: #303f9f !important;
}
.presupuesto {
  background: #e040fb !important;
}
.proceso {
  background: #ffc107 !important;
}
.detenido {
  background: #ff5252 !important;
}
.finalizado {
  background: #8bc34a !important;
}
.ra {
  background: #fff;
  padding: 10px;
}
.ra a {
  text-decoration: none;
  color: #808080;
}
/*Registro de actividades*/
.ra-h3 {
  font-size: 18px;
  margin: 0;
  padding: 8px;
  background: #fff;
  color: #00bcd4;
  border-bottom: 1px solid #00bcd4;
}
.ra-item {
  background: #fff;
  margin: 10px auto;
  border: 1px solid #fff;
  color: #808080;
  border: 1px solid #f1f1f1;
  border-left: 3px solid #00bcd4;
  padding-left: 3px;
}
.ra-item h5 {
  font-size: 0.8em;
  padding: 4px;
  margin: 0;
  padding-bottom: 2px;
}
.ra-item h6 {
  font-size: 0.7em;
  padding: 4px;
  margin: 0;
  text-align: right;
}
.ra-item span {
  font-size: 0.8em;
  padding: 10px;
  line-height: 1.1;
  background: #fafafa;
  display: block;
}
.ra-item i {
  color: #00bcd4;
}
/*sin actividad*/
.sa {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.sa a {
  text-decoration: none;
  color: #808080;
}
.sa-h3 {
  font-size: 18px;
  margin: 0;
  padding: 8px;
  background: #fff;
  color: #f44336;
  border-bottom: 1px solid #f44336;
}
.sa-item {
  background: #fff;
  margin: 10px auto;
  border: 1px solid #fff;
  color: #808080;
}
.sa-item .fa {
  color: #f44336;
  font-size: 4em;
  float: left;
  display: block;
  margin-right: 10px;
}
.sa-item h5 {
  font-size: 0.8em;
  padding: 4px;
  margin: 0;
  padding-bottom: 2px;
}
.sa-item h6 {
  font-size: 0.7em;
  padding: 4px;
  margin: 0;
  text-align: right;
  background: #f44336;
  color: #fff;
}
.sa-item p {
  font-size: 0.9em;
  padding-left: 1.5em;
}
/*finalizad*/
.fin {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.fin a {
  text-decoration: none;
  color: #808080;
}
.fin-h3 {
  font-size: 18px;
  margin: 0;
  padding: 8px;
  background: #fff;
  color: #8bc34a;
  border-bottom: 1px solid #8bc34a;
}
.fin-item {
  background: #fff;
  margin: 10px auto;
  border: 1px solid #fff;
  color: #808080;
}
.fin-item .fa {
  color: #8bc34a;
  font-size: 4em;
  float: left;
  display: block;
  margin-right: 10px;
}
.fin-item h5 {
  font-size: 0.8em;
  padding: 4px;
  margin: 0;
  padding-bottom: 2px;
}
.fin-item h6 {
  font-size: 0.7em;
  padding: 4px;
  margin: 0;
  text-align: right;
  background: #8bc34a;
  color: #fff;
}
.fin-item p {
  font-size: 0.9em;
  padding-left: 1.5em;
}
/*ultimas*/
.ultimas {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.ultimas table {
  font-size: 0.8em;
}
.ultimas table tr > td {
  vertical-align: middle;
}
.ultimas a {
  text-decoration: none;
  color: #808080;
}
.ultimas-h3 {
  font-size: 18px;
  margin: 0;
  padding: 8px;
  background: #607d8b;
  color: #fff;
  border-bottom: 1px solid #607d8b;
  margin-top: 15px;
}
.ultimas-item {
  background: #fff;
  margin: 10px auto;
  border: 1px solid #fff;
  color: #808080;
}
.btn-mini {
  padding: 4px 6px;
  font-size: 10px;
}
.td-estado {
  color: #fff;
  padding: 1px;
}
.filtros {
  padding: 10px;
  background: #fff;
}
.filtros h4 {
  padding: 5px;
  margin: 0;
  color: #607d8b;
  border-bottom: 1px dashed #f1f1f1;
}
.filtros-h3 {
  font-size: 18px;
  margin: 0;
  padding: 8px;
  background: #fff;
  color: #607d8b;
  border-bottom: 1px solid #607d8b;
  margin-top: 15px;
}
.plan-estados {
  background: #607d8b;
  padding: 10px;
}
/*
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 */
/* Toggle Styles */
.shadow-z-0 {
  box-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  background-color: #ffc107;
  border: 1px solid #ffc107;
}
.section {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding: 6em 0;
}
.section__title {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 3em;
}
.section--aava {
  background: #2994b2;
}
.section--tuuli {
  background: #474744;
}
.section--vesi {
  background: #54567a;
}
.section--sade {
  background: #2d4659;
}
.section--ilma {
  background: #095062;
}
.section--tuli {
  background: #068b78;
}
.toggle-button {
  margin: 0 20px;
}
/*
 * Toggle button styles
 */
.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff;
}
.toggle-button label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}
.toggle-button input {
  display: none;
}
.toggle-button__icon {
  cursor: pointer;
  pointer-events: none;
}
.toggle-button__icon:before,
.toggle-button__icon:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 35%;
  transition: 0.2s ease-out;
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--aava label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--aava label:before,
.toggle-button--aava label:after {
  position: absolute;
  right: 1.5rem;
  transition: all 0.2s 0.1s ease-out;
}
.toggle-button--aava label:before {
  content: attr(data-on-text);
}
.toggle-button--aava label:after {
  content: attr(data-off-text);
}
.toggle-button--aava input[type=checkbox] + label {
  width: 120px;
  background: #ff5335;
}
.toggle-button--aava input[type=checkbox] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--aava input[type=checkbox] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--aava input[type=checkbox]:checked ~ label {
  width: 120px;
  background: #61b136;
}
.toggle-button--aava input[type=checkbox]:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--aava input[type=checkbox]:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}
.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 16.66667px;
}
.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(30%) rotate(-45deg);
}
.toggle-button--aava .toggle-button__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
.toggle-button--aava .toggle-button__icon:before,
.toggle-button--aava .toggle-button__icon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.toggle-button--aava .toggle-button__icon:before {
  width: 25px;
  transform: rotate(45deg);
}
.toggle-button--aava .toggle-button__icon:after {
  width: 25px;
  transform: rotate(-45deg);
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--tuuli label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--tuuli label:before,
.toggle-button--tuuli label:after {
  position: absolute;
  right: 1rem;
  transition: all 0.2s 0.1s ease-out;
}
.toggle-button--tuuli input[type=checkbox] + label {
  width: 50px;
  background: #ff5335;
}
.toggle-button--tuuli input[type=checkbox] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--tuuli input[type=checkbox] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--tuuli input[type=checkbox]:checked ~ label {
  width: 50px;
  background: #61b136;
}
.toggle-button--tuuli input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-30%, 100%) rotate(45deg) scale(0.6, 1);
}
.toggle-button--tuuli input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(20%) rotate(-45deg);
}
.toggle-button--tuuli .toggle-button__icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
}
.toggle-button--tuuli .toggle-button__icon:before,
.toggle-button--tuuli .toggle-button__icon:after {
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  margin-left: -10%;
  top: 48%;
}
.toggle-button--tuuli .toggle-button__icon:before {
  transform: rotate(45deg);
}
.toggle-button--tuuli .toggle-button__icon:after {
  transform: rotate(-45deg);
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--vesi label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--vesi label:before,
.toggle-button--vesi label:after {
  position: absolute;
  right: 1.5rem;
  transition: all 0.2s 0.15s ease-out;
}
.toggle-button--vesi label:before {
  content: attr(data-on-text);
}
.toggle-button--vesi label:after {
  content: attr(data-off-text);
}
.toggle-button--vesi input[type=checkbox] + label {
  width: 150px;
  background: #ff5335;
}
.toggle-button--vesi input[type=checkbox] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--vesi input[type=checkbox] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--vesi input[type=checkbox]:checked ~ label {
  width: 180px;
  background: #61b136;
}
.toggle-button--vesi input[type=checkbox]:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--vesi input[type=checkbox]:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}
.toggle-button--vesi input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 16.66667px;
}
.toggle-button--vesi input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(30%) rotate(-45deg);
}
.toggle-button--vesi .toggle-button__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
.toggle-button--vesi .toggle-button__icon:before,
.toggle-button--vesi .toggle-button__icon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.toggle-button--vesi .toggle-button__icon:before {
  width: 25px;
  transform: rotate(90deg);
}
.toggle-button--vesi .toggle-button__icon:after {
  width: 25px;
  transform: rotate(0);
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--sade {
  width: 100px;
  height: 20px;
}
.toggle-button--sade label {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.toggle-button--sade label:before,
.toggle-button--sade label:after {
  position: absolute;
  top: 0;
  left: 30px;
  transition: all 0.2s 0.1s ease-out;
}
.toggle-button--sade label:before {
  content: attr(data-on-text);
}
.toggle-button--sade label:after {
  content: attr(data-off-text);
}
.toggle-button--sade input + label:before {
  opacity: 0;
  transform: translate(20px, 0);
}
.toggle-button--sade input + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--sade input:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--sade input:checked ~ label:after {
  opacity: 0;
  transform: translate(20px, 0);
}
.toggle-button--sade input[type=checkbox]:checked ~ .toggle-button__icon:before,
.toggle-button--sade input[type=checkbox]:checked ~ .toggle-button__icon:after {
  background: #61b136;
}
.toggle-button--sade input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-30%, 70%) rotate(45deg) scale(0.7, 1);
}
.toggle-button--sade input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(20%) rotate(-45deg);
}
.toggle-button--sade .toggle-button__icon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
}
.toggle-button--sade .toggle-button__icon:before,
.toggle-button--sade .toggle-button__icon:after {
  width: calc(20px - 8px);
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  margin-left: -3px;
  top: 40%;
  background: #ff5335;
}
.toggle-button--sade .toggle-button__icon:before {
  transform: rotate(45deg);
}
.toggle-button--sade .toggle-button__icon:after {
  transform: rotate(-45deg);
}
.toggle-button--sade:hover label {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.toggle-button--sade:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon:before {
  animation: icon-hover-before 0.2s;
}
.toggle-button--sade:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon:after {
  animation: icon-hover-after 0.2s;
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--ilma {
  width: 100px;
  height: 20px;
}
.toggle-button--ilma label {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.toggle-button--ilma label:before,
.toggle-button--ilma label:after {
  position: absolute;
  top: 0;
  left: 30px;
  transition: all 0.2s 0.1s ease-out;
}
.toggle-button--ilma label:before {
  content: attr(data-on-text);
}
.toggle-button--ilma label:after {
  content: attr(data-off-text);
}
.toggle-button--ilma input + label:before {
  opacity: 0;
  transform: translate(20px, 0);
}
.toggle-button--ilma input + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--ilma input:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--ilma input:checked ~ label:after {
  opacity: 0;
  transform: translate(20px, 0);
}
.toggle-button--ilma input[type=checkbox]:checked ~ .toggle-button__icon:before,
.toggle-button--ilma input[type=checkbox]:checked ~ .toggle-button__icon:after {
  background: #61b136;
  transition: none;
  transform-origin: left center;
}
.toggle-button--ilma input[type=checkbox]:checked ~ .toggle-button__icon:before {
  animation: iconShowBefore 0.3s;
  transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
}
.toggle-button--ilma input[type=checkbox]:checked ~ .toggle-button__icon:after {
  animation: iconShowAfter 0.6s;
  transform: translate(4px, 6px) rotate(-45deg);
}
.toggle-button--ilma .toggle-button__icon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
}
.toggle-button--ilma .toggle-button__icon:before,
.toggle-button--ilma .toggle-button__icon:after {
  width: calc(20px - 6px);
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  margin-left: -4px;
  top: 40%;
  background: #ff5335;
  transform-origin: center center;
}
.toggle-button--ilma .toggle-button__icon:before {
  transform: rotate(45deg);
}
.toggle-button--ilma .toggle-button__icon:after {
  transform: rotate(-45deg);
}
.toggle-button--ilma:hover label {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.toggle-button--ilma:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon:before {
  animation: iconHoverBefore 0.2s;
}
.toggle-button--ilma:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon:after {
  animation: iconHoverAfter 0.2s;
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--tuli label {
  line-height: 20px;
  text-indent: 30px;
}
.toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon {
  background: #fff;
}
.toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon:before,
.toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon:after {
  opacity: 1;
}
.toggle-button--tuli .toggle-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  border: 2px solid #fff;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.toggle-button--tuli .toggle-button__icon:before,
.toggle-button--tuli .toggle-button__icon:after {
  top: 5px;
  left: 2px;
  width: 12px;
  height: 2px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  top: 35%;
  background: #61b136;
  opacity: 0;
  transform-origin: left center;
}
.toggle-button--tuli .toggle-button__icon:before {
  transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
}
.toggle-button--tuli .toggle-button__icon:after {
  transform: translate(4px, 6px) rotate(-45deg);
}
.toggle-button--tuli:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
@-moz-keyframes icon-hover-before {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@-webkit-keyframes icon-hover-before {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@-o-keyframes icon-hover-before {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@keyframes icon-hover-before {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@-moz-keyframes icon-hover-after {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
@-webkit-keyframes icon-hover-after {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
@-o-keyframes icon-hover-after {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
@keyframes icon-hover-after {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
@-moz-keyframes iconShowBefore {
  0% {
    transform: translate(0, 0) rotate(45deg) scale(0, 1);
  }
  100% {
    transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
  }
}
@-webkit-keyframes iconShowBefore {
  0% {
    transform: translate(0, 0) rotate(45deg) scale(0, 1);
  }
  100% {
    transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
  }
}
@-o-keyframes iconShowBefore {
  0% {
    transform: translate(0, 0) rotate(45deg) scale(0, 1);
  }
  100% {
    transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
  }
}
@keyframes iconShowBefore {
  0% {
    transform: translate(0, 0) rotate(45deg) scale(0, 1);
  }
  100% {
    transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
  }
}
@-moz-keyframes iconShowAfter {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(4px, 6px) rotate(-45deg) scale(0, 1);
  }
  100% {
    transform: translate(4px, 6px) rotate(-45deg) scale(1, 1);
  }
}
@-webkit-keyframes iconShowAfter {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(4px, 6px) rotate(-45deg) scale(0, 1);
  }
  100% {
    transform: translate(4px, 6px) rotate(-45deg) scale(1, 1);
  }
}
@-o-keyframes iconShowAfter {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(4px, 6px) rotate(-45deg) scale(0, 1);
  }
  100% {
    transform: translate(4px, 6px) rotate(-45deg) scale(1, 1);
  }
}
@keyframes iconShowAfter {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(4px, 6px) rotate(-45deg) scale(0, 1);
  }
  100% {
    transform: translate(4px, 6px) rotate(-45deg) scale(1, 1);
  }
}
@-moz-keyframes iconHoverBefore {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@-webkit-keyframes iconHoverBefore {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@-o-keyframes iconHoverBefore {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@keyframes iconHoverBefore {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@-moz-keyframes iconHoverAfter {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
@-webkit-keyframes iconHoverAfter {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
@-o-keyframes iconHoverAfter {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
@keyframes iconHoverAfter {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
