// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
//VAriavle de colores
iniciado = #303F9F
presupuesto = #E040FB
proceso = #FFC107
detenido = #FF5252
finalizado = #8BC34A

 body 
  overflow-x: hidden
  background: #F2F6FA

.bg-header
  background: #fff
.hr-corta
  margin:0
.logo-texto
  text-align: right
  font-size: 18px
  padding: 10px
  margin:0
  line-height: 1.2
  float: left
  margin-top:10px
  & span
    font-weight: 300
    // border-bottom:1px dotted #000

.brand-img
  // height: 65px;
  margin-top: -15px;

.shadow-z-6
  margin-top:-20px;   
  -webkit-box-shadow: 0px 1px 1px 1px rgba(199,199,199,1);
  -moz-box-shadow: 0px 1px 1px 1px rgba(199,199,199,1);
  box-shadow: 0px 1px 1px 1px rgba(199,199,199,1);
li.user-name
  background: #3F51B5
  padding:2px 

.badge 
  padding:5px !important
  
.estados 
  margin:0 auto
  padding:5px
  // width:50%
  // border-left:1px dashed #f1f1f1
 
  & h4 
    text-align:left  
  & a
    color:#808080
    font-size:0.8em    
.iniciado 
  background:iniciado !important
.presupuesto 
  background:presupuesto !important
.proceso 
  background:proceso !important
.detenido 
  background:detenido !important
.finalizado 
  background:finalizado !important
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 */



/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-nav > .sidebar-brand {
    /* height: 65px; */
    /* font-size: 18px; */
    /* line-height: 60px; */
    margin-bottom: 10px;
}



.sidebar-nav li a:hover {
    display: block;
    text-decoration: none;
    color: #808080;
}


#custom-search-input {
        margin:0;
        // margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
     
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        
        
       
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
