<div class="col-md-4">
	<h3 class="dm-h3 shadow-z-0">Agregar Proyecto</h3>

	<div class="shadow-z-0 admin-content-form">
	
		<form class="row" ng-submit="guardarDireccion()">
			<div class="form-group col-md-12">
				<label for="direccion-nombre">Nombre del Proyecto</label>
				<input type="text" name="direccion" ng-model="direccion.nombre" class="form-control" required>
			</div>
			
			<div class="form-group col-md-12">
            <label for="direccion-nombre">Fin al que pertenece</label>
            <input type="text" name="direccion" ng-model="direccion.nombre" class="form-control" required>
            </div>
            <div >
       <div class="form-group col-md-12">
       <label for="direccion-nombre">Descripción</label>
       <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
           <hr>
       </div>
        <div class="form-group col-md-12">
                <label for="direccion-nombre">Colaboradores</label>
                <div class="input-group">
      <input type="text" class="form-control" placeholder="Seleccione con autcompletar..." ng-model="colaborador" uib-typeahead="col for col in colaboradores | filter:$viewValue | limitTo:8" typeahead-on-select=""  autocomplete="off">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="AddIntegrante(colaborador);colaborador = '';">Agregar</button>
      </span>
    </div><!-- /input-group -->
    <ul ng-show="integrantes">
        <li ng-repeat="integrante in integrantes">{{integrante}}</li>
    </ul>
            </div>
            <div class="form-group col-md-12">
                <label for="direccion-nombre">Indicadores</label>
                <div class="input-group">
      <input type="text" class="form-control" placeholder="Seleccione con autcompletar..." ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" autocomplete="off"> 
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="AddIndicador(selected);selected = '';">Agregar</button>
      </span>
    </div><!-- /input-group -->
     <ul ng-show="indicadores">
        <li ng-repeat="indicador in indicadores">{{indicador}}</li>
    </ul>
            </div>
                </div>
            
			<div class="clearfix col-md-12">
			<hr>
				<button class="btn btn-danger pull-right"  type="submit">Guardar</button>
			</div>
		</form>



	</div>
</div>

<div class="col-md-8">
<h3 class="dm-h3 shadow-z-0">Listado de Proyectos Agregados</h3>

	<div class="shadow-z-0 admin-content-form">
	 <table class="table table-responsive table-condensed table-striped">
                        <tr>
                        	<th>Proyecto</th>
                        	
                        	<th class="td-actions text-right">Opciones</th>
                        </tr>
                        <tr>
                        	<td>Proyecto #1</td>
                        	
                        	<td class="td-actions text-right">
                
                <button type="button" rel="tooltip" title="Editar" class="btn btn-success btn-simple btn-xs" style="margin-top: -3px;">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs" style="margin-top: -3px;">
                    <i class="fa fa-times"></i>
                </button>
                        	</td>
                        </tr>
                        <tr>
                        	<td>Proyecto #2</td>
                        
                        	<td class="td-actions text-right">
          
                <button type="button" rel="tooltip" title="Editar" class="btn btn-success btn-simple btn-xs" style="margin-top: -3px;">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs" style="margin-top: -3px;">
                    <i class="fa fa-times"></i>
                </button>
                        	</td>
                        </tr>
    </table>
	</div>
	
</div>  