<div class="col-md-4">
	<h3 class="dm-h3 shadow-z-0">Agregar Nuevo Usuario</h3>

	<div class="shadow-z-0 admin-content-form">
	
		<form class="row" ng-submit="guardarDireccion()">
	
			
			</small>
			<div class="form-group col-md-7">
				<label for="direccion-nombre">DNI <small>(sin puntos)</small></label>
				<input type="text" name="dni" ng-model="direccion.responsable.dni" class="form-control" required>
			</div>
			<div class="form-group col-md-6">
				<label for="direccion-nombre">Apellido</label>
				<input type="text" name="apellido" ng-model="direccion.responsable.apellido" class="form-control" required>
			</div>
			<div class="form-group col-md-6">
				<label for="direccion-nombre">Nombres</label>
				<input type="text" name="nombre" ng-model="direccion.responsable.nombre" class="form-control" required>
			</div>
			
			<div class="form-group col-md-12">
				<label for="direccion-nombre">Email</label>
				<input type="email" name="correo" ng-model="direccion.responsable.correo" class="form-control" required>
			</div>
			<div class="form-group col-md-12">
			<label for="direccion-nombre">Dirección a la que pertenece</label>
			<select name="" id="" class="form-control " required>
				<option value="">Seleccione</option>
				<option value="secundaria">Direccion de nivel secundario</option>
			</select>
			</div>
			<div class="form-group col-md-12">
			<label for="direccion-nombre">Tipo de Usuario</label>
			<div class="radio">
	<label>
		<input type="radio" name="optionsRadios">
		Responsable
	</label>
</div>
<div class="radio">
	<label>
		<input type="radio" name="optionsRadios" checked="true">
		General
	</label>
</div>
<div class="radio">
	<label>
		<input type="radio" name="optionsRadios" checked="true">
		Administrador
	</label>
</div>
			</div>
			<div class="clearfix col-md-12">
			<hr>
				<button class="btn btn-danger pull-right"  type="submit">Guardar</button>
			</div>
		</form>



	</div>
</div>

<div class="col-md-8">
<h3 class="dm-h3 shadow-z-0">Listado de Usuarios Registrados</h3>

	<div class="shadow-z-0 admin-content-form">
	 <table class="table table-responsive table-condensed table-striped">
                        <tr>
                        	<th>Usuario</th>
                        	<th>Dirección</th>
                        	<th>Tipo</th>
                        	<th class="td-actions text-right">Opciones</th>
                        </tr>
                        <tr ng-repeat="dir in direcciones">
                            <td>{{dir.apellido}}, {{dir.Nombre}}</td>
                        	<td>{{dir.nombre}}</td>
                        	<td>
                        	<span ng-show="dir.tipo == 1">Administrador</span>     
                        	<span ng-show="dir.tipo == 2">Responsable</span>     
                        	<span ng-show="dir.tipo == 3">Auxiliar</span>     
                        	
                        	 	     </td>
                        	<td class="td-actions text-right">
                
                <button type="button" rel="tooltip" title="Editar" class="btn btn-success btn-simple btn-xs" style="margin-top: -3px;">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs" style="margin-top: -3px;">
                    <i class="fa fa-times"></i>
                </button>
                        	</td>
                        </tr>
                        
    </table>
	</div>
	
</div>  