<div class="container">
        <section class="section section--aava">
            <h2 class="section__title">
                Aava
            </h2>
            <div class="toggle-button toggle-button--aava">
                <input id="toggleButton" type="checkbox">
                <label for="toggleButton" data-on-text="On" data-off-text="Off"></label>
                <div class="toggle-button__icon"></div>
            </div>
            <div class="toggle-button toggle-button--aava">
                <input id="toggleButton2" type="checkbox">
                <label for="toggleButton2" data-on-text="On" data-off-text="Off"></label>
                <div class="toggle-button__icon"></div>
            </div>
        </section>
        <section class="section section--tuuli">
            <h2 class="section__title">
                Tuuli
            </h2>
            <div class="toggle-button toggle-button--tuuli">
                <input id="toggleButton3" type="checkbox">
                <label for="toggleButton3"></label>
                <div class="toggle-button__icon"></div>
            </div>
            <div class="toggle-button toggle-button--tuuli">
                <input id="toggleButton4" type="checkbox">
                <label for="toggleButton4"></label>
                <div class="toggle-button__icon"></div>
            </div>
        </section>
        <section class="section section--vesi">
            <h2 class="section__title">
                Vesi
            </h2>
            <div class="toggle-button toggle-button--vesi">
                <input id="toggleButton5" type="checkbox">
                <label for="toggleButton5" data-on-text="Selected" data-off-text="Select"></label>
                <div class="toggle-button__icon"></div>
            </div>
            <div class="toggle-button toggle-button--vesi">
                <input id="toggleButton6" type="checkbox">
                <label for="toggleButton6" data-on-text="Selected" data-off-text="Select"></label>
                <div class="toggle-button__icon"></div>
            </div>
        </section>
        <section class="section section--sade">
            <h2 class="section__title">
                Sade
            </h2>
            <div class="toggle-button toggle-button--sade">
                <input id="toggleButton7" type="checkbox">
                <label for="toggleButton7" data-on-text="Yes" data-off-text="No"></label>
                <div class="toggle-button__icon"></div>
            </div>
            <div class="toggle-button toggle-button--sade">
                <input id="toggleButton8" type="checkbox">
                <label for="toggleButton8" data-on-text="Yes" data-off-text="No"></label>
                <div class="toggle-button__icon"></div>
            </div>
        </section>
        <section class="section section--ilma">
            <h2 class="section__title">
                Ilma
            </h2>
            <div class="toggle-button toggle-button--ilma">
                <input id="toggleButton9" type="checkbox">
                <label for="toggleButton9" data-on-text="On" data-off-text="Off"></label>
                <div class="toggle-button__icon"></div>
            </div>
            <div class="toggle-button toggle-button--ilma">
                <input id="toggleButton10" type="checkbox">
                <label for="toggleButton10" data-on-text="On" data-off-text="Off"></label>
                <div class="toggle-button__icon"></div>
            </div>
        </section>
        <section class="section section--tuli">
            <h2 class="section__title">
                Tuli
            </h2>
            <div class="toggle-button toggle-button--tuli">
                <input id="toggleButton11" type="checkbox">
                <label for="toggleButton11">Agree this</label>
                <div class="toggle-button__icon"></div>
            </div>
            <div class="toggle-button toggle-button--tuli">
                <input id="toggleButton12" type="checkbox">
                <label for="toggleButton12">Agree that</label>
                <div class="toggle-button__icon"></div>
            </div>
        </section>
    </div>

     <div class="sampleOthers">
                <button class="btn btn-black btn-lg">Black</button>
                <button class="btn btn-white btn-lg">White</button>
              </div>
              <div class="sampleRed">
                <h2><button class="btn btn-material-red btn-lg">Red</button></h2>
                <button class="btn btn-material-red-50">050</button>
                <button class="btn btn-material-red-100">100</button>
                <button class="btn btn-material-red-200">200</button>
                <button class="btn btn-material-red-300">300</button>
                <button class="btn btn-material-red-400">400</button>
                <button class="btn btn-material-red-500">500</button>
                <button class="btn btn-material-red-600">600</button>
                <button class="btn btn-material-red-700">700</button>
                <button class="btn btn-material-red-800">800</button>
                <button class="btn btn-material-red-900">900</button><br>
                <button class="btn btn-material-red-A100">A100</button>
                <button class="btn btn-material-red-A200">A200</button>
                <button class="btn btn-material-red-A400">A400</button>
                <button class="btn btn-material-red-A700">A700</button>
              </div>
              <div class="samplePink">
                <h2><button class="btn btn-material-pink btn-lg">Pink</button></h2>
                <button class="btn btn-material-pink-50">050</button>
                <button class="btn btn-material-pink-100">100</button>
                <button class="btn btn-material-pink-200">200</button>
                <button class="btn btn-material-pink-300">300</button>
                <button class="btn btn-material-pink-400">400</button>
                <button class="btn btn-material-pink-500">500</button>
                <button class="btn btn-material-pink-600">600</button>
                <button class="btn btn-material-pink-700">700</button>
                <button class="btn btn-material-pink-800">800</button>
                <button class="btn btn-material-pink-900">900</button><br>
                <button class="btn btn-material-pink-A100">A100</button>
                <button class="btn btn-material-pink-A200">A200</button>
                <button class="btn btn-material-pink-A400">A400</button>
                <button class="btn btn-material-pink-A700">A700</button>
              </div>
              <div class="samplePurple">
                <h2><button class="btn btn-material-purple btn-lg">Purple</button></h2>
                <button class="btn btn-material-purple-50">050</button>
                <button class="btn btn-material-purple-100">100</button>
                <button class="btn btn-material-purple-200">200</button>
                <button class="btn btn-material-purple-300">300</button>
                <button class="btn btn-material-purple-400">400</button>
                <button class="btn btn-material-purple-500">500</button>
                <button class="btn btn-material-purple-600">600</button>
                <button class="btn btn-material-purple-700">700</button>
                <button class="btn btn-material-purple-800">800</button>
                <button class="btn btn-material-purple-900">900</button><br>
                <button class="btn btn-material-purple-A100">A100</button>
                <button class="btn btn-material-purple-A200">A200</button>
                <button class="btn btn-material-purple-A400">A400</button>
                <button class="btn btn-material-purple-A700">A700</button>
              </div>
              <div class="sampleDeepPurple">
                <h2><button class="btn btn-material-deep-purple btn-lg">Deep Purple</button></h2>
                <button class="btn btn-material-deep-purple-50">050</button>
                <button class="btn btn-material-deep-purple-100">100</button>
                <button class="btn btn-material-deep-purple-200">200</button>
                <button class="btn btn-material-deep-purple-300">300</button>
                <button class="btn btn-material-deep-purple-400">400</button>
                <button class="btn btn-material-deep-purple-500">500</button>
                <button class="btn btn-material-deep-purple-600">600</button>
                <button class="btn btn-material-deep-purple-700">700</button>
                <button class="btn btn-material-deep-purple-800">800</button>
                <button class="btn btn-material-deep-purple-900">900</button><br>
                <button class="btn btn-material-deep-purple-A100">A100</button>
                <button class="btn btn-material-deep-purple-A200">A200</button>
                <button class="btn btn-material-deep-purple-A400">A400</button>
                <button class="btn btn-material-deep-purple-A700">A700</button>
              </div>
              <div class="sampleIndigo">
                <h2><button class="btn btn-material-indigo btn-lg">Indigo</button></h2>
                <button class="btn btn-material-indigo-50">050</button>
                <button class="btn btn-material-indigo-100">100</button>
                <button class="btn btn-material-indigo-200">200</button>
                <button class="btn btn-material-indigo-300">300</button>
                <button class="btn btn-material-indigo-400">400</button>
                <button class="btn btn-material-indigo-500">500</button>
                <button class="btn btn-material-indigo-600">600</button>
                <button class="btn btn-material-indigo-700">700</button>
                <button class="btn btn-material-indigo-800">800</button>
                <button class="btn btn-material-indigo-900">900</button><br>
                <button class="btn btn-material-indigo-A100">A100</button>
                <button class="btn btn-material-indigo-A200">A200</button>
                <button class="btn btn-material-indigo-A400">A400</button>
                <button class="btn btn-material-indigo-A700">A700</button>
              </div>
              <div class="sampleBlue">
                <h2><button class="btn btn-material-blue btn-lg">Blue</button></h2>
                <button class="btn btn-material-blue-50">050</button>
                <button class="btn btn-material-blue-100">100</button>
                <button class="btn btn-material-blue-200">200</button>
                <button class="btn btn-material-blue-300">300</button>
                <button class="btn btn-material-blue-400">400</button>
                <button class="btn btn-material-blue-500">500</button>
                <button class="btn btn-material-blue-600">600</button>
                <button class="btn btn-material-blue-700">700</button>
                <button class="btn btn-material-blue-800">800</button>
                <button class="btn btn-material-blue-900">900</button><br>
                <button class="btn btn-material-blue-A100">A100</button>
                <button class="btn btn-material-blue-A200">A200</button>
                <button class="btn btn-material-blue-A400">A400</button>
                <button class="btn btn-material-blue-A700">A700</button>
              </div>
              <div class="sampleLightBlue">
                <h2><button class="btn btn-material-light-blue btn-lg">Light Blue</button></h2>
                <button class="btn btn-material-light-blue-50">050</button>
                <button class="btn btn-material-light-blue-100">100</button>
                <button class="btn btn-material-light-blue-200">200</button>
                <button class="btn btn-material-light-blue-300">300</button>
                <button class="btn btn-material-light-blue-400">400</button>
                <button class="btn btn-material-light-blue-500">500</button>
                <button class="btn btn-material-light-blue-600">600</button>
                <button class="btn btn-material-light-blue-700">700</button>
                <button class="btn btn-material-light-blue-800">800</button>
                <button class="btn btn-material-light-blue-900">900</button><br>
                <button class="btn btn-material-light-blue-A100">A100</button>
                <button class="btn btn-material-light-blue-A200">A200</button>
                <button class="btn btn-material-light-blue-A400">A400</button>
                <button class="btn btn-material-light-blue-A700">A700</button>
              </div>
              <div class="sampleCyan">
                <h2><button class="btn btn-material-cyan btn-lg">Cyan</button></h2>
                <button class="btn btn-material-cyan-50">050</button>
                <button class="btn btn-material-cyan-100">100</button>
                <button class="btn btn-material-cyan-200">200</button>
                <button class="btn btn-material-cyan-300">300</button>
                <button class="btn btn-material-cyan-400">400</button>
                <button class="btn btn-material-cyan-500">500</button>
                <button class="btn btn-material-cyan-600">600</button>
                <button class="btn btn-material-cyan-700">700</button>
                <button class="btn btn-material-cyan-800">800</button>
                <button class="btn btn-material-cyan-900">900</button><br>
                <button class="btn btn-material-cyan-A100">A100</button>
                <button class="btn btn-material-cyan-A200">A200</button>
                <button class="btn btn-material-cyan-A400">A400</button>
                <button class="btn btn-material-cyan-A700">A700</button>
              </div>
              <div class="sampleTeal">
                <h2><button class="btn btn-material-teal btn-lg">Teal</button></h2>
                <button class="btn btn-material-teal-50">050</button>
                <button class="btn btn-material-teal-100">100</button>
                <button class="btn btn-material-teal-200">200</button>
                <button class="btn btn-material-teal-300">300</button>
                <button class="btn btn-material-teal-400">400</button>
                <button class="btn btn-material-teal-500">500</button>
                <button class="btn btn-material-teal-600">600</button>
                <button class="btn btn-material-teal-700">700</button>
                <button class="btn btn-material-teal-800">800</button>
                <button class="btn btn-material-teal-900">900</button><br>
                <button class="btn btn-material-teal-A100">A100</button>
                <button class="btn btn-material-teal-A200">A200</button>
                <button class="btn btn-material-teal-A400">A400</button>
                <button class="btn btn-material-teal-A700">A700</button>
              </div>
              <div class="sampleGreen">
                <h2><button class="btn btn-material-green btn-lg">Green</button></h2>
                <button class="btn btn-material-green-50">050</button>
                <button class="btn btn-material-green-100">100</button>
                <button class="btn btn-material-green-200">200</button>
                <button class="btn btn-material-green-300">300</button>
                <button class="btn btn-material-green-400">400</button>
                <button class="btn btn-material-green-500">500</button>
                <button class="btn btn-material-green-600">600</button>
                <button class="btn btn-material-green-700">700</button>
                <button class="btn btn-material-green-800">800</button>
                <button class="btn btn-material-green-900">900</button><br>
                <button class="btn btn-material-green-A100">A100</button>
                <button class="btn btn-material-green-A200">A200</button>
                <button class="btn btn-material-green-A400">A400</button>
                <button class="btn btn-material-green-A700">A700</button>
              </div>
              <div class="sampleLightGreen">
                <h2><button class="btn btn-material-light-green btn-lg">LightGreen</button></h2>
                <button class="btn btn-material-light-green-50">050</button>
                <button class="btn btn-material-light-green-100">100</button>
                <button class="btn btn-material-light-green-200">200</button>
                <button class="btn btn-material-light-green-300">300</button>
                <button class="btn btn-material-light-green-400">400</button>
                <button class="btn btn-material-light-green-500">500</button>
                <button class="btn btn-material-light-green-600">600</button>
                <button class="btn btn-material-light-green-700">700</button>
                <button class="btn btn-material-light-green-800">800</button>
                <button class="btn btn-material-light-green-900">900</button><br>
                <button class="btn btn-material-light-green-A100">A100</button>
                <button class="btn btn-material-light-green-A200">A200</button>
                <button class="btn btn-material-light-green-A400">A400</button>
                <button class="btn btn-material-light-green-A700">A700</button>
              </div>
              <div class="sampleLime">
                <h2><button class="btn btn-material-lime btn-lg">Lime</button></h2>
                <button class="btn btn-material-lime-50">050</button>
                <button class="btn btn-material-lime-100">100</button>
                <button class="btn btn-material-lime-200">200</button>
                <button class="btn btn-material-lime-300">300</button>
                <button class="btn btn-material-lime-400">400</button>
                <button class="btn btn-material-lime-500">500</button>
                <button class="btn btn-material-lime-600">600</button>
                <button class="btn btn-material-lime-700">700</button>
                <button class="btn btn-material-lime-800">800</button>
                <button class="btn btn-material-lime-900">900</button><br>
                <button class="btn btn-material-lime-A100">A100</button>
                <button class="btn btn-material-lime-A200">A200</button>
                <button class="btn btn-material-lime-A400">A400</button>
                <button class="btn btn-material-lime-A700">A700</button>
              </div>
              <div class="sampleYellow">
                <h2><button class="btn btn-material-yellow btn-lg">Yellow</button></h2>
                <button class="btn btn-material-yellow-50">050</button>
                <button class="btn btn-material-yellow-100">100</button>
                <button class="btn btn-material-yellow-200">200</button>
                <button class="btn btn-material-yellow-300">300</button>
                <button class="btn btn-material-yellow-400">400</button>
                <button class="btn btn-material-yellow-500">500</button>
                <button class="btn btn-material-yellow-600">600</button>
                <button class="btn btn-material-yellow-700">700</button>
                <button class="btn btn-material-yellow-800">800</button>
                <button class="btn btn-material-yellow-900">900</button><br>
                <button class="btn btn-material-yellow-A100">A100</button>
                <button class="btn btn-material-yellow-A200">A200</button>
                <button class="btn btn-material-yellow-A400">A400</button>
                <button class="btn btn-material-yellow-A700">A700</button>
              </div>
              <div class="sampleAmber">
                <h2><button class="btn btn-material-amber btn-lg">Amber</button></h2>
                <button class="btn btn-material-amber-50">050</button>
                <button class="btn btn-material-amber-100">100</button>
                <button class="btn btn-material-amber-200">200</button>
                <button class="btn btn-material-amber-300">300</button>
                <button class="btn btn-material-amber-400">400</button>
                <button class="btn btn-material-amber-500">500</button>
                <button class="btn btn-material-amber-600">600</button>
                <button class="btn btn-material-amber-700">700</button>
                <button class="btn btn-material-amber-800">800</button>
                <button class="btn btn-material-amber-900">900</button><br>
                <button class="btn btn-material-amber-A100">A100</button>
                <button class="btn btn-material-amber-A200">A200</button>
                <button class="btn btn-material-amber-A400">A400</button>
                <button class="btn btn-material-amber-A700">A700</button>
              </div>
              <div class="sampleOrange">
                <h2><button class="btn btn-material-orange btn-lg">Orange</button></h2>
                <button class="btn btn-material-orange-50">050</button>
                <button class="btn btn-material-orange-100">100</button>
                <button class="btn btn-material-orange-200">200</button>
                <button class="btn btn-material-orange-300">300</button>
                <button class="btn btn-material-orange-400">400</button>
                <button class="btn btn-material-orange-500">500</button>
                <button class="btn btn-material-orange-600">600</button>
                <button class="btn btn-material-orange-700">700</button>
                <button class="btn btn-material-orange-800">800</button>
                <button class="btn btn-material-orange-900">900</button><br>
                <button class="btn btn-material-orange-A100">A100</button>
                <button class="btn btn-material-orange-A200">A200</button>
                <button class="btn btn-material-orange-A400">A400</button>
                <button class="btn btn-material-orange-A700">A700</button>
              </div>
              <div class="sampleDeepOrange">
                <h2><button class="btn btn-material-deep-orange btn-lg">Deep Orange</button></h2>
                <button class="btn btn-material-deep-orange-50">050</button>
                <button class="btn btn-material-deep-orange-100">100</button>
                <button class="btn btn-material-deep-orange-200">200</button>
                <button class="btn btn-material-deep-orange-300">300</button>
                <button class="btn btn-material-deep-orange-400">400</button>
                <button class="btn btn-material-deep-orange-500">500</button>
                <button class="btn btn-material-deep-orange-600">600</button>
                <button class="btn btn-material-deep-orange-700">700</button>
                <button class="btn btn-material-deep-orange-800">800</button>
                <button class="btn btn-material-deep-orange-900">900</button><br>
                <button class="btn btn-material-deep-orange-A100">A100</button>
                <button class="btn btn-material-deep-orange-A200">A200</button>
                <button class="btn btn-material-deep-orange-A400">A400</button>
                <button class="btn btn-material-deep-orange-A700">A700</button><br><br>
              </div>
              <div class="sampleBrown">
                <h2><button class="btn btn-material-brown btn-lg">Brown</button></h2>
                <button class="btn btn-material-brown-50">050</button>
                <button class="btn btn-material-brown-100">100</button>
                <button class="btn btn-material-brown-200">200</button>
                <button class="btn btn-material-brown-300">300</button>
                <button class="btn btn-material-brown-400">400</button>
                <button class="btn btn-material-brown-500">500</button>
                <button class="btn btn-material-brown-600">600</button>
                <button class="btn btn-material-brown-700">700</button>
                <button class="btn btn-material-brown-800">800</button>
                <button class="btn btn-material-brown-900">900</button>
              </div>
              <div class="sampleGrey">
                <h2><button class="btn btn-material-grey btn-lg">Grey</button></h2>
                <button class="btn btn-material-grey-50">050</button>
                <button class="btn btn-material-grey-100">100</button>
                <button class="btn btn-material-grey-200">200</button>
                <button class="btn btn-material-grey-300">300</button>
                <button class="btn btn-material-grey-400">400</button>
                <button class="btn btn-material-grey-500">500</button>
                <button class="btn btn-material-grey-600">600</button>
                <button class="btn btn-material-grey-700">700</button>
                <button class="btn btn-material-grey-800">800</button>
                <button class="btn btn-material-grey-900">900</button>
              </div>
              <div class="sampleBlueGrey">
                <h2><button class="btn btn-material-blue-grey btn-lg">Blue Grey</button></h2>
                <button class="btn btn-material-blue-grey-50">050</button>
                <button class="btn btn-material-blue-grey-100">100</button>
                <button class="btn btn-material-blue-grey-200">200</button>
                <button class="btn btn-material-blue-grey-300">300</button>
                <button class="btn btn-material-blue-grey-400">400</button>
                <button class="btn btn-material-blue-grey-500">500</button>
                <button class="btn btn-material-blue-grey-600">600</button>
                <button class="btn btn-material-blue-grey-700">700</button>
                <button class="btn btn-material-blue-grey-800">800</button>
                <button class="btn btn-material-blue-grey-900">900</button>
              </div>
            </div>
            <div class="well page" id="button">
              <h1 class="header">Button</h1>
              <div class="sample1">
                <h2>Normal buttons</h2>
                <button class="btn btn-default">Button</button>
                <button class="btn btn-primary">Colored</button>
                <button class="btn btn-default" disabled>Disabled</button>
                <button class="btn btn-default btn-link">Noink</button>
              </div>
              <div class="sample1">
                <h2>Flat buttons</h2>
                <button class="btn btn-default btn-flat">Button</button>
                <button class="btn btn-primary btn-flat">Colored</button>
                <button class="btn btn-default btn-flat" disabled>Disabled</button>
                <button class="btn btn-default btn-flat btn-link">Noink</button>
              </div>
              <div class="sample2">
                <h2>Raised buttons</h2>
                <button class="btn btn-default btn-raised">Button</button>
                <button class="btn btn-primary btn-raised">Colored</button>
                <button class="btn btn-default btn-raised" disabled>Disabled</button>
                <button class="btn btn-default btn-raised btn-link">Noink</button>
              </div>
              <div class="sample3">
                <h2>Custom button content</h2>
                <button class="btn btn-primary btn-flat"><i class="mdi-navigation-check"></i> Ok</button>
                <button class="btn btn-default btn-flat"><i class="mdi-navigation-close"></i> Cancel</button>
              </div>