  <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                    <h3 class="ra-h3 shadow-z-1">Registro de Actividad</h3>
                    <div class="">
                         <div class="ra-item ">
                             <h5>Ingreso legajo a fiscalia de estado</h5>
                         </div>
                         <div class="ra-item shadow-z-1">
                             
                         </div>

                         <div class="ra-item shadow-z-1">
                             
                         </div>
                         <div class="ra-item shadow-z-1">
                             
                         </div>
                         <div class="ra-item shadow-z-1">
                             
                         </div>
                    </div>   
                    </div>
                </div>
            </div>