  <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-4 col–sm–6">
                    <h3 class="ra-h3 shadow-z-1">Registro de Actividad</h3>
                    <div class="ra shadow-z-0">
                         <div class="ra-item  ">
                         <a href="#" ng-click="isCollapsed = !isCollapsed">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span uib-collapse="isCollapsed">Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30 <i class="fa fa-caret-down" aria-hidden="true"></i></h6> </a>
                         </div>
                           <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                            <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                            <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                            <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                            <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                            <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                            <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                            <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                            <div class="ra-item  ">
                             <h5>Coordinación de Innovación educativa</h5>
                             <span>Cómo no me va a gustar la montaña si estos cerros veía desde </span>
                          <h6>17/07/2016 14:30</h6>
                         </div>
                    </div>   

                    </div>
                     <div class="col-lg-4 col–sm–6">
                    <h3 class="sa-h3 shadow-z-1">sin actividad </h3>
                    <div class="sa shadow-z-1">
                        <div class="sa-item ">
                          <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                             <h5>Coordinación de Innovación educativa</h5>
                             <p class="des">Cómo no me va a gustar la montaña si estos cerros veía desde </p>
                          <h6>Última actualización: 17/07/2016 14:30</h6>
                         </div>
                    </div>
                    </div>
                     <div class="col-lg-4 col–sm–6">
                       <h3 class="fin-h3 shadow-z-1">Finalizados </h3>
                    <div class="fin shadow-z-1">
                        <div class="fin-item ">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                             <h5>Coordinación de Innovación educativa</h5>
                             <p class="des">Cómo no me va a gustar la montaña si estos cerros veía desde </p>
                          <h6>Última actualización: 17/07/2016 14:30</h6>
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-8 col–sm–6">
                    <h3 class="ultimas-h3 shadow-z-1">Ultimas planificaciones agregadas</h3>
                    <div class="ultimas shadow-z-1">
                        <table class="table table-responsive table-condensed table-striped">
                            <tr>
                                <td>Compra de tablets para niños especiales</td>
                                <td>Modalidad Especial</td>
                                <td>25/07/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                               
                                <td>Ofertas de capacitacion virtual</td>
                                 <td>Ciidept</td>
                                <td>01/08/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Jornadas de ajedrez para maestros</td>
                                <td>Desarrollo Productivo</td>
                                <td>15/09/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Muestra anual tecnologia</td>
                                <td>Modalidad Técnica</td>
                                <td>29/09/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Programando tu propio Robot</td>
                                <td>CIIDEPT</td>
                                <td>01/10/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
<tr>
                                <td>Compra de tablets para niños especiales</td>
                                <td>Modalidad Especial</td>
                                <td>25/07/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                               
                                <td>Ofertas de capacitacion virtual</td>
                                 <td>Ciidept</td>
                                <td>01/08/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Jornadas de ajedrez para maestros</td>
                                <td>Desarrollo Productivo</td>
                                <td>15/09/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Muestra anual tecnologia</td>
                                <td>Modalidad Técnica</td>
                                <td>29/09/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Programando tu propio Robot</td>
                                <td>CIIDEPT</td>
                                <td>01/10/2016</td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                        </table>
                    </div>
                    </div>
                </div>
            </div> 