<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		 <h3 class="filtros-h3 shadow-z-1">Filtrar planificaciones</h3>
          <div class="filtros shadow-z-1">
          <h4>Insticución</h4>
          <div class="form-group">
          	<input type="text" placeholder="Buscar institución autocompletado" class="form-control">
          </div>
          	<h4>Estado</h4>
          	<div class="checkbox">
	          <label>
	            <input type="checkbox" checked="" > Todos
	          </label>
           </div>
           <div class="checkbox">
	          <label>
	            <input type="checkbox"  > Iniciados
	          </label>
           </div>
           <div class="checkbox">
	          <label>
	            <input type="checkbox" checked="" > Detenidos
	          </label>
           </div>
           <div class="checkbox">
	          <label>
	            <input type="checkbox" checked="" > Finalizados
	          </label>
           </div>
           <div class="checkbox">
	          <label>
	            <input type="checkbox"  > En proceso
	          </label>
           </div>
           	<h4>Ultima Actualizacion</h4>
           	    <div class="checkbox">
	          <label>
	            <input type="checkbox" checked="" > Tres días
	          </label>
           </div>
           <div class="checkbox">
	          <label>
	            <input type="checkbox" checked="" > una semana
	          </label>
           </div>
           <div class="checkbox">
	          <label>
	            <input type="checkbox"  > el mes pasado
	          </label>
           </div>
          </div>
		</div>
		 <div class="col-md-9 col–sm–6">
                    <h3 class="ultimas-h3 shadow-z-1">Ultimas planificaciones agregadas</h3>
                    <div class="ultimas shadow-z-1">
                        <table class="table table-responsive table-condensed table-striped">
                        <tr>
                        	<th>Nombre</th>
                        	<th>Institución</th>
                        	<th>Inició</th>
                        	<th>Actualización</th>
                        	<th>Tareas</th>
                        	<th>Estado</th>
                        	<th>Opciones</th>
                        </tr>
                            <tr>
                                <td>Compra de tablets para niños especiales</td>
                                <td>Modalidad Especial</td>
                                <td>25/07/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge iniciado td-estado">Iniciado</span></td>

                                <td>
                                <a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a>
                                </td>
                            </tr>
                               <tr>
                               
                                <td>Ofertas de capacitacion virtual</td>
                                 <td>Ciidept</td>
                                <td>01/08/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge detenido td-estado">Detenido</span></td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Jornadas de ajedrez para maestros</td>
                                <td>Desarrollo Productivo</td>
                                <td>15/09/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge proceso td-estado">Proceso</span></td>
                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Muestra anual tecnologia</td>
                                <td>Modalidad Técnica</td>
                                <td>29/09/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge proceso td-estado">Proceso</span></td>

                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Programando tu propio Robot</td>
                                <td>CIIDEPT</td>
                                <td>01/10/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge proceso td-estado">Proceso</span></td>

                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
<tr>
                                <td>Compra de tablets para niños especiales</td>
                                <td>Modalidad Especial</td>
                                <td>25/07/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge proceso td-estado">Proceso</span></td>

                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                               
                                <td>Ofertas de capacitacion virtual</td>
                                 <td>Ciidept</td>
                                <td>01/08/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge proceso td-estado">Proceso</span></td>

                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Jornadas de ajedrez para maestros</td>
                                <td>Desarrollo Productivo</td>
                                <td>15/09/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge proceso td-estado">Proceso</span></td>

                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Muestra anual tecnologia</td>
                                <td>Modalidad Técnica</td>
                                <td>29/09/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge proceso td-estado">Proceso</span></td>

                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                               <tr>
                                <td>Programando tu propio Robot</td>
                                <td>CIIDEPT</td>
                                <td>01/10/2016</td>
                                <td>12/07/2016</td>
                                <td><span class="badge">5/25</span></td>
                                <td><span class="badge proceso td-estado">Proceso</span></td>

                                <td><a href="#" class="btn btn-mini btn-material-indigo-A200">detalles</a></td>
                            </tr>
                        </table>
                    </div>
                    </div>
	</div>
</div>